{% load widget_tweaks %}
{% load static %}

{% block content %}

{% block extra_css %}
<link rel="stylesheet" href="{% static '/css/login_register.css' %}">
<link rel="stylesheet" href="{% static '/css/style.css' %}">
{% endblock %}

{%if not request.user.is_authenticated %}
    <div class="hcontainer">
        <div class="form-container sign-in-container" style="height: 400px!important;">
            <form action="" method="POST">{% csrf_token %}
                <h1 style="margin-bottom: 25px; margin-top: 10px;">REGISTREER</h1>
                {{register_form.username|attr:"placeholder:Gebruikersnaam"}}<br>
                {{register_form.password1|attr:"placeholder:Wachtwoord"}}<br>
                {{register_form.password2|attr:"placeholder:Herhaal wachtwoord"}}
                <button type="submit" name="login_form" class="buton">Login</button>
                <p>Log <a href="/login/">hier!</a> in!</p>
                {% if messages %}
                    <p class="pp">{{messages}}</p>
                {% endif %}
            </form>
            <div id="error-banner" class="error-banner">
            </div>
        </div>
    </div>

{% endif %}
{% endblock content %}