@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');

*{
    box-sizing: border-box;
}

:root {
    --primary-background-app: #C3ABD7;
    --primary-navbar-background: #242527;
    --primary-app-background: #f3f6fd;
    --primary-font: 'DM Sans', sans-serif;
    --secondary-font: 'Poppins', sans-serif;
    --primary-font-color: #fff;
    --secondary-font-color: #000;
    --tertiary-font-color: #FE2E2E;
    --maak-project-font-color: #292EA9;
    --primary-font-size: 1.5em;
    --secondary-font-size: 1em;
    --tertiary-font-size: 3em;
    --navbar-button-font-size: 0.8em;
    --primary-panel-color: #fff;
    --primary-button-background: #FE2E2E;
    --secondary-button-background: #3366FF;
    --tertiary-button-background: #52BF90;
    --quaternary-button-background: #CB2C31;
    --project-box-size: 14em;
    --project-box-gap: 10px;
}

html, body {
    width: 100%;
    height: 100vh;
    margin: 0;
}

body {
    padding: 1em;
    font-family: var(--primary-font);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    background: var(--primary-background-app);
}

.app {
    background-color: var(--primary-app-background);
    max-width: 1550px;
    font-size: var(--secondary-font);
    height: 100vh;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    position: relative;
    width: 100%;
    border-radius: 16px;
}

.sidebar {
    background-color: var(--primary-navbar-background);
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 15%;
    color: var(--primary-font-color);
}

.sidebar-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.sidebar-text {
    font-size: var(--tertiary-font-size);
    text-align: center;
    margin-top: 20px;
}

.sidebar-span {
    font-family: var(--primary-font);
    margin-left: 15px;
}

.top-links, .bottom-links {
    display: flex;
    flex-direction: column;
}
.navbar-buttons {
    color: var(--primary-font-color);
    font-size: var(--navbar-button-font-size);
    text-decoration: none;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: var(--primary-button-background);
    border-radius: 4px;
    margin-bottom: 15px;
}
.dropdown {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    background-color: var(--primary-button-background);
}
.navbar-dropdown {
    border: none;
    margin: 0;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
}
.user-icon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.user-box {
    display: flex;
    flex-direction: column;
    font-size: var(--secondary-font-size);
}

.botton-text {
    margin: 0;
    padding-left: 20px;
    padding-bottom: 10px;
}

.user-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    border: 2px solid #3366FF;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: var(--secondary-font-size);
    color: var(--secondary-font-color);
    background: var(--primary-app-background);


    
}

.logout {
    font-style: italic;
}

.header {
    display: flex;
    width: 100%;
    position: relative;
    justify-content: space-between;
    padding: 16px 24px;
    color: var(--secondary-font-color);
  }

  .header-left {
    display: flex;
    justify-content: flex-start;
    align-items: end;
  }

  .header-text {
    font-size: var(--primary-font-size);
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 700;
    color: var(--primary-font-size);
    width: 270px;

}
.app-body {
    display: flex;
    overflow: hidden;
    width: 100%;
    flex-direction: column;
    padding: 16px 24px 24px 0;
}

.inner-app-body {
    display: flex;
    flex-direction: row;
    height: 100%;
    overflow: hidden;
}

.home {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.horizontal-align {
  display: flex;
  justify-content: center;
  width: 100%;
  flex: 1;
}

.project-lijst-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--project-box-gap);
  overflow-x: hidden;
  width: calc(3 * var(--project-box-size) + 3 * var(--project-box-gap));
  height: calc(1*var(--project-box-size) + 40px);
  max-width: 100%;
  scroll-padding-bottom: 20px;
}
.project-lijst {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-radius: 16px;
  gap: var(--project-box-gap);
  width: calc(3 * var(--project-box-size) + 3 * var(--project-box-gap));
  height: calc(1*var(--project-box-size) + 40px);
}

.project-element {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: var(--project-box-size);
  height: var(--project-box-size);
  background-color: var(--primary-panel-color);
  border-radius: 16px;
  font-family: var(--secondary-font);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  padding-left: 16px;
  margin-top: 10px;
  margin-bottom: 20px;
}


  .project-number {
    margin: 0;
    text-align: right;
    font-family: var(--primary-font);
    padding-top: 15px;
    padding-right: 15px;
    font-style: italic;
    font-weight: 600;
    font-size: var(--secondary-font);
    line-height: 16px;
    color: rgba(0, 0, 0, 0.5);
  }
  
  .project-titel, .feed-titel {
    font-size: var(--secondary-font-size);
    margin: 0;
    font-weight: 600;
  }


  .project-datum {
    margin: 0;
    font-weight: 600;
    font-style: italic;
    font-size: 0.65em;
    color: var(--tertiary-font-color);
    position: relative;
  }
  
  .project-datum::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 95%;
    height: 3px;
    background: #3366FF;
    z-index: -1;
  }

  .project-maken {
    margin: 0;
    color: var(--maak-project-font-color);
    font-size: var(--primary-font-size);
    font-weight: 600;
  }
  
  .gebruikers {
    margin: 0;
    padding-top: 10px;
    font-size: 1em;
    font-weight: 600;
  }
.lijst {
    margin: 0;
}
.lijst-element {
    margin: 0;
    font-size: 0.9em;
}

.wijziging {
    text-align: right;
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: rgba(0, 0, 0, 0.5);
    padding-right: 16px;
    padding-bottom: 10px;
    margin: 0;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;;

}

.feed {
    display: flex;
    flex: 1;
    width: 100%;
    justify-content: center;
  }
  
  .feed-inner {
    display: flex;
    width: 100%;
    max-width: calc(3 * 250px + 3 * 45px);
    background-color: #fff;
    border-radius: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-bottom: 20px;
    flex-direction: column;
  }
  
  .feed-titel {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 2em;
    position: relative;
  }
  .feed-titel::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 50%;
    height: 10px;
    background: #FF7F01;
    z-index: -1;
  }
  .lijst-element-feed {
    font-size: var(--secondary-font-size);
    font-weight: 600;
    margin-left: 50px;
  }

