{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script
      src="https://kit.fontawesome.com/c2c6ce3227.js"
      crossorigin="anonymous"
    ></script>
    {% block extra_css %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}"
    />
    {% endblock extra_css %} {% endblock head %}
  </head>
  <body>
    <div class="app">
      <div class="sidebar">
        <p>Home</p>
        <div class="sidebar-wrapper">
          <div class="top-links"></div>
          <div class="bottom-links"></div>
        </div>
      </div>
      <div class="app-body">
        <div class="header">
          <div class="header-left"></div>
        </div>
        <div class="inner-app-body">
          {% block content %}{% endblock content %}
        </div>
      </div>
    </div>
  </body>
</html>
