{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script
      src="https://kit.fontawesome.com/c2c6ce3227.js"
      crossorigin="anonymous"
    ></script>
    {% block extra_css %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}"
    />
    {% endblock extra_css %} {% endblock head %}
  </head>
  <body>
    <div class="app">
      <div class="sidebar">
        <p class="sidebar-text">Home</p>
        <div class="sidebar-wrapper">
          <div class="top-links">
            <div class="dropdown">
              <i class="fa-solid fa-list-ul"></i>
              <select class="navbar-buttons navbar-dropdown">
                <option value="alle-projecten">
                  <span class="sidebar-span">Alle projecten</span>
                </option>
              </select>
            </div>
            <a
              class="navbar-buttons"
              id="navbar-nieuw-link"
              href="{% url 'project-toevoegen' %}"
            >
              <i class="fa-solid fa-plus"></i>
              <span class="sidebar-span">Nieuw project</span>
            </a>
          </div>
          <div class="bottom-links">
            <div class="user-icon">
              <div class="user-box">
                <p class="botton-text">User</p>
                <p class="botton-text logout">Log out</p>
              </div>
              <div class="user-logo">
                <i class="fa-brands fa-github-alt"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="app-body">
        <div class="header">
          <div class="header-left">
            <form method="post" style="margin-bottom: 20px">
              {% csrf_token %}
              <p class="header-text" name="title">
                {{title|default:"Homepage"|title}}
              </p>
            </form>
          </div>
        </div>
        <div class="inner-app-body">
          {% block content %}{% endblock content %}
        </div>
      </div>
    </div>
  </body>
</html>
