{% extends 'base.html' %} {% block content %}
<div class="home">
  <div class="horizontal-align">
    <div class="project-lijst-wrapper">
      <div class="project-lijst">
        {% for project in projects %}
        <div class="project-element">
          <div class="project-top">
            <p class="project-number">#{{ project.id }}</p>
            <p class="project-titel"> {{ project.name }}</p>
            <p class="project-datum">Aangemaakte: {{ project.deadline_date }} </p>
            <p class="gebruikers">Gebruikers:</p>
            <ul class="lijst">
              {% for user in project.members.all %}
              <li class="lijst-element">{{ user.username }}</li>
              {% endfor %}
            </ul>
          </div>
          <div class="project-bottom">
          </div>
        </div>
        {% endfor %}
        <div class="project-element">
          <div class="project-top">
            <p class="project-number">#</p>
            <p class="project-titel">Project XX</p>
            <a href="{% url 'project-toevoegen' %}" class="project-maken">Maak project</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="feed">
    <div class="feed-inner">
      <p class="feed-titel">Recente activiteiten:</p>
      <ul class="feed-lijst">
        <li class="lijst-element-feed">
          Todo Test gemaakt voor project 1 door Tim.
        </li>
        <li class="lijst-element-feed">
          Deadline voor project 2 is uitgesteld door Salah.
        </li>
        <li class="lijst-element-feed">
          Ise M heeft gebruiker Jesse M toegevoegd aan project 1.
        </li>
        <li class="lijst-element-feed">-</li>
        <li class="lijst-element-feed">-</li>
      </ul>
    </div>
  </div>
</div>

{% endblock content %}


