{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block content %}

<div class="pa_page_row">
    <div class="pa_page_column">
        <div class="pa_whitebox">
            <div class="pa_page_row">
                <div class="pa_page_column">
                    <div class="pa_black_box">
                        <br>
                        <div class="pa_text">Nieuw project aanmaken</div>
                        <br>
                        <form method="post">
                            {% csrf_token %}


                            <div class="pa_inside_black_box">
                                <div>
                                    <br>
                                    {% render_field project_form.name class="pa_user_input" placeholder="Naam"  %}
                                    <br>

                                </div>
                                <div>
                                                                        <br>

                                    {% render_field project_form.members class="pa_user_input" placeholder="Leden" %}
                                    <br>

                                </div>
                                <div>
                                    <br>
                                    {% render_field project_form.deadline_date class="pa_user_input" placeholder="Deadline" %}
                                    <br>

                                </div>
                            </div>
                                <div class="pa_button_inside_black_box">
                                <br>
                                <input type="submit" class="pa_button"
                                       value="Maak project">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
